
 @model HomeVM     
 <!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="searchList" asp-action="search">
                        <input id="input-search"  type="search" placeholder="Search..."/>
                       @* <ul id="searchList" class="list-unstyled py-3">
                            <li class="d-flex px-3">
                                <input id="input-search" type="text" placeholder="Search">
                                <i class="fas fa-search my-auto" id="search"></i>
                            </li>



                        </ul>*@
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var item in Model.Courses)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course mb-70">
                        <div class="course-img">
                            <a href="course-details.html">
                                <a asp-action="CoursesDetails" asp-route-id="@item.Id"> <img src="~/img/course/@item.ImageUrl" alt="course"></a>
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-action="CoursesDetails" asp-route-id="@item.Id">@item.Category.Title</a></h3>
                            <p>@item.ShortAC</p>
                                    <a class="default-btn" asp-controller="basket" asp-action="AddBasket" asp-route-id="@item.Id" ><span class="text-black-50">Add to cart</span></a>
                            <a class="default-btn" asp-action="CoursesDetails" asp-route-id="@item.Id">read more</a>
                        </div>
                    </div>
                </div>
            }
            
           
        </div>
    </div>
</div>
<!-- Course End -->
