@model IEnumerable<Contact>
<div class="container">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Contact Table</h4>
                   
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Subject</th>
                                    <th>Message</th>
                                    <th>Settings</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var contact in Model)
                                {
                                    <tr>
                                        <td>@contact.Id</td>
                                        <td>@contact.Name</td>
                                        <td>@contact.Email</td>
                                        <td>@contact.Subject</td>
                                        <td>@contact.ShortMesg</td>

                                        <td>
                                            <a asp-action="delete" asp-route-id="@contact.Id" class="btn btn-outline-secondary"><i class="ni ni-fat-remove"></i></a>
                                            <a asp-action="detail" asp-route-id="@contact.Id" class="btn btn-outline-behance"><i class="ni ni-settings-gear-65"></i></a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
